doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 NOOM
        main 
            div#set-nickname
                form(action="").room__nicknname
                    input(type="text" placeholder="nickname" required)
                    button Send  
            div#enter-room(hidden)
                h3 open room  
                ul.room-list 

                       

                form(action="") 
                    input(type="text" placeholder="room name" required)
                    button Enter Room
            div#chat-room(hidden)
                h3.room-name
                ul 

                form(action="").room__message
                    input(type="text" placeholder="message" required)
                    button Send                    
        script(src="/socket.io/socket.io.js") 
        script(src="/static/js/app.js") 
        